@font-face {
    font-family: "FiraSans";
    src: url('./Fira_Sans/FiraSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url('./Fira_Sans/FiraSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url('./Fira_Sans/FiraSans-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}